@import 'bootstrap'

body, html
  display: flex
  flex-direction: column
  height: 100%
  .container-fluid
    display: flex
    flex-direction: column
    flex-grow: 1

.messages
  display: flex
  flex-direction: column
  flex-grow: 1
  #messages-container
    flex-grow: 1
  .controls
    display: flex
    flex-direction: row
    textarea
      flex-grow: 1

.message
  margin-bottom: 1rem
  img
    border-radius: 5px
    margin-right: .8rem
  h5
    margin-top: 0
    margin-bottom: 2px
